@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bkg: 240 240 240;
    --color-span-purple: 147 51 234;
    --color-span-green: 74 222 128;
    --color-text: 100 105 102;
    --color-menu-btn: 147 51 234;
    /* ... */
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-bkg: 18 15 28;
      --color-span-purple: 147 51 234;
      --color-span-green: 74 222 128;
      --color-text: 255 255 255;
      --color-menu-btn: 255 255 255;
    }
  }
}
